div#updateBrowser {
  width: 536px;
  height: 719px;
  margin: auto;
  background-color: #FAFBFB;
  border-radius: 4px 4px;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
  behavior: url(css3pie/PIE.htc);
  z-index: 125;
  position: relative;
  font-size: 9pt;
  font-family: Arial;
}

div#updateBrowser h1,
div#updateBrowser h5 {
  text-align: center;
}

div#updateBrowser p {
  color: #797979;
}

div#updateBrowser input,
div#updateBrowser h1,
div#updateBrowser h5 {
  color: #333;
  font-weight: bolder;
  font-size: 10pt;
}

div#updateBrowser h1{
  font-size: 15pt;
}

div#updateBrowser h1 {
  padding-bottom: 18px;
}

div#updateBrowserChooser {
  width: 500px;
  background-color: #ECECEC;
  padding: 18px;
  border-bottom: thin solid #D1D2D4;
  border-radius: 4px 4px;
  border-bottom-left-radius: 0px 0px;
  border-bottom-right-radius: 0px 0px;
  behavior: url(css3pie/PIE.htc);
}

div#updateBrowserChooser > div {
    margin-top: 36px;
    position: relative;
}

*+html div#updateBrowserChooser > div {
    margin-top: 16px;
}

div#updateBrowserChooser div.browserBlock {
  float: left;
  width: 115px;
  padding: 0px;
  margin-right: 8px;
  border: thin #D1D2D4 solid;
  height: 68px;
  margin-bottom: 25px;
  border-radius: 4px 4px;
  behavior: url(css3pie/PIE.htc);
  
  /* fallback */
  background-color: #FFFFFF;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F7F8F9));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #F7F8F9, #FFFFFF);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #F7F8F9, #FFFFFF);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #F7F8F9, #FFFFFF);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #F7F8F9, #FFFFFF);
}

div#updateBrowser div.browserBlock * {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

div#updateBrowser div.browserBlock > img {
  position: relative;
  left: -1px;
  bottom: 0px;
}

div#updateBrowserChooser div.browserBlock div img {
  position: relative;
  top: -15px;
  margin-bottom: -10px;
}

div#updateBrowser div.browserBlock p {
  font-size: 0.8em;
  margin-bottom: 8px;
}

div#updateBrowser .orText {
  padding: 2px 5px;
  display: inline-block;
  position: relative;
  top: -9px;
  left: 260px;
  background-color: #FBFBFB;
  border: thin solid #CCC;
  border-radius: 4px 4px;
  font-weight: bold;
  font-size: 8pt;
  width: 16px;
  color: #666;
  behavior: url(css3pie/PIE.htc);
}

div#updateBrowserWarning {
  padding: 18px;
}

div#updateBrowserWarning,
div#updateBrowserWarning > div {
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  behavior: url(css3pie/PIE.htc);
}

div#updateBrowserChooser > div:after,
div#updateBrowserWarning > div:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}

div#updateBrowserWarning > div {
  padding-top: 20px;
  width: 566px;
  margin-bottom: 15px;
}


div#updateBrowserWarning div.browserBlock {
  float: left;
  width: 150px;
  padding: 0px;
  border: thin #CDCDCD solid;
  margin-right: 20px;
  border-radius: 4px 4px;
  behavior: url(css3pie/PIE.htc);
  height: 125px;
}

div#updateBrowserWarning div.browserBlock div span {
  position: relative;
  top: -15px;
  margin-bottom: -10px;
  background-repeat: no-repeat;
  display: inline-block;
}

div#updateBrowserWarning div.browserBlock div span.spriteOne {
  width:27px;
  height:27px;
  background:url(../img/warning-sprite.png) 0 0;
}
div#updateBrowserWarning div.browserBlock div span.spriteTwo {
  width:35px;
  height:27px;
  background:url(../img/warning-sprite.png) -30px 0;
}
div#updateBrowserWarning div.browserBlock div span.spriteThree {
  width:40px;
  height:27px;
  background: url(../img/warning-sprite.png) -67px 0;
}

div#updateBrowserWarning div.browserBlock p {
  font-size: 8pt;
  text-align: left;
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 4px;
}

div#updateBrowserWarning h1{
  color: #888988;
  font-size: 11pt;
  font-weight: bold;
  padding: 11px;
  margin-top: -16px;
}

div#updateBrowser .faintText {
  color: #BBB;
  font-size: 8pt;
}

div#updateBrowserWarning input#hideUpdateBrowser,
div#updateBrowserWarning label#hideUpdateBrowserLabel {
  font-size: 9pt;
  color: #787979;
  margin-right: 3px;
}

div#updateBrowserWarning span#closeUpdateBrowser {
  font-size: 8pt;
  color: #555555;
  font-weight: bold;
  background-color: #C4BDB6;
  float: right;
  padding: 3px 9px;
  border-radius: 4px 4px;
  border: thin solid #BBB2A4;
  behavior: url(css3pie/PIE.htc);
}

div#updateBrowserMask {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 100;
}
