/*
There is some issue with IE6 and having a wider right margin than anticipated.
I imagine with a bit more time I would figure it out, but in lieu of taking a long time to figure that out I just moved on.
*/

div#updateBrowserChooser div.browserBlock {
  margin-right: 4px;
}

div#updateBrowserWarning div.browserBlock {
  margin-right: 15px;
}

div#updateBrowserMask {
  position: absolute;
  width: expression(document.compatMode=='CSS1Compat'? document.documentElement.clientWidth+'px' : body.clientWidth+'px');
  height: expression(document.compatMode=='CSS1Compat'? document.documentElement.clientHeight+'px' : body.clientHeight+'px');
}