div#updateBrowser {
  width: 536px;
  height: 719px;
  padding: 18px;
  margin: auto;
  background-color: #FAFBFB;
  border-radius: 4px 4px;
  box-shadow: 3px 3px 4px #000;
}

div#updateBrowser div{
}

div#updateBrowser p {
  color: #797979;
}

div#updateBrowser input,
div#updateBrowser .orText,
div#updateBrowser h1,
div#updateBrowser h2 {
  color: #333;
  font-weight: bolder;
}

div#updateBrowser h1 {
  padding: 18px;
}

div#updateBrowser .orText {
  padding: 8px;
}

div#updateBrowser div.browserBlock {
  display: inline-block;
  width: 115px;
  padding: 6px;
  border: thin #D1D2D4 solid;
}

div#updateBrowserWarning {
  height: 307px;
}

div#updateBrowserChooser {
  background-color: #ECECEC;
  height: 412px;
}

div#updateBrowserChooser,
div#updateBrowserChooser div {
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
}

.faintText {
  color: #BBB;
}

div#updateBrowserMask {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  background-color: rgba(0,0,0,.5);
}